
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap')
    
$background: linear-gradient(to bottom, #00b4db, #0083b0)
$dark_color: #00BFFF
$light_color: #87CEEB
$code_color: #FFFFF0

@mixin shadow
    box-shadow: 0px 0px 12px 3px black

@mixin wrap_box_style
    border-radius: 6px
    @include shadow

@mixin text_style
    font-family: 'Josefin Sans', sans-serif
    font-weight: 300


*
    box-sizing: border-box

body
    margin: 0px
    padding: 0px

.container
    width: 100%
    min-height: 100vh
    max-height: 100%
    display: flex
    flex-direction: column
    align-items: center 
    background: $background

.hide
    display: none

.toolbar
    @include wrap_box_style
    background-color: $dark_color
    padding: 10px
    margin-bottom: 16px
    display: flex
    justify-content: space-between
    align-items: center

.toolbar__title
    @include text_style
    display: block
    font-size: 1.25rem
    font-weight: 600
    
.toolbar__button
    border: 1px solid #000
    border-radius: 6px
    background-color: #fff
    font-size: 1.5rem
    font-weight: 400
    cursor: pointer
    transition-duration: 0.3s

.toolbar__button:hover
    color: white
    background-color: #000
    transition-duration: 0.3s

.editor
    margin: 12px

.editor__textarea
    @include wrap_box_style
    width: 600px
    min-height: 250px
    background-color: $light_color
    resize: vertical
    overflow: auto
    padding: 8px
    outline-style: none
    border: none
    font-size: 1rem

.editor__textarea_maxsize
    @extend .editor__textarea
    height: 92vh

.editor__textarea::placeholder
    color: #000

.editor__textarea::-webkit-scrollbar
    width: 0px

.previewer
    margin: 12px
    
.previewer__result
    @include wrap_box_style
    @include text_style
    font-size: 1.2rem
    font-weight: 200
    padding: 8px 12px
    width: 800px
    min-height: 360px
    background-color: $light_color

    h1, h2, h3
        margin: 1.5rem auto
        border-bottom: 2px solid #000

    hr
        display: none
        margin: 12px 0px
        border-bottom: 1px solid #000

    p, li
        margin: 0px auto
        line-height: 1.5rem

    table
        border-collapse: collapse

    td, th
        border: 2px solid black
        padding: 6px
        margin: 0px

    th
        font-weight: 600

    code, pre
        display: inline-block
        font-size: 1rem
        background-color: $code_color
        padding: 4px
        border-radius: 0.4rem

    blockquote
        padding: 12px
        p::before
            content: '| '
            text-align: left
            font-size: 1.5rem
            font-weight: 600

    img
        display: block
        max-width: 90%
        margin: auto

.previewer__result_maxsize
    @extend .previewer__result
    height: auto